:root{
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(45deg, #9b34ef 0%, #490cb0 20%, transparent 50%);
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(90deg, #5516ba, rgba(255, 0, 229, 0.5) 80%);
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);
    scroll-behavior: smooth;

}
body {
    background-color: var(--primary-color);
    color: var(--text-color);
}
*{
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p{
    font-family: "Quicksand", sans-serif;
    font-size: 1.25rem;
}

a{
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--text-color);
    letter-spacing: 2px;
}

h1{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 500;
}


ul li{
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 14px;
    padding-left: 14px;
}

ul li::marker {
    content: "+";
    font-size: 2rem;
    margin: 0 8px 0 0;
}

@keyframes wiggle{

    0%{
        transform: rotate(0deg);
    }
    15%{
        transform: rotate(-15deg);
    }
    20%{
        transform: rotate(10deg);
    }
    25%{
        transform: rotate(-10deg);
    }
    30%{
        transform: rotate(10deg);
    }
    35%{
        transform: rotate(-10deg);
    }
    40%, 100%{
        transform: rotate(0deg);
    }
}

@keyframes gradient{
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}